.center {
    text-align: center;
}
a:hover {
  color: hotpink;
}
.albumImage {
  background-image: url("ZZ_Top_Eliminator.jpg");
  background-repeat: no-repeat;
  height: 300px;
  background-position: center;
}
li {
  font-style: italic;
  font-weight: bold;
}
