.link {
    text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: hotpink;
  text-decoration: underline;
}
.albumImage {
  background-image: url("ZZ_Top_Eliminator.jpg");
  background-repeat: no-repeat;
  height: 300px;
  background-position: center;
}
li {
  font-style: italic;
  font-weight: bold;
}
tbody td {
  font-style: italic;
}
thead th {
  background-color: skyblue;
}
tbody tr:nth-child(odd) {
  background-color: lightgray;
}
