.header {
  background-color: lightblue;
}
.footer {
  position:fixed;
  bottom:0px;
  width:100%;
  background-color: lightblue;
}
.menuBackground {
  height: 700px;
  background-color: wheat;
}
.homeBackground {
  height: 700px;
  background-color: lightcoral;
}
#menuItem {
  font-size: 25px;
  font-weight: bold;
}
#required {
  font-weight: bold;
}
.restaurantName {
  font-family: arial;
  text-align: center;
}
a:visited {
  color: green;
}
a:hover {
  font-weight: bold;
}
a:active {
  text-decoration: none;
}
table.beverageTable thead th {
  text-align: left;
  text-decoration: underline;
  padding-left: 5px;
}
table.beverageTable tbody td {
  padding: 5px 100px 5px 5px;
}
table.beverageTable tbody td:first-child + td{
  padding-right: 5px;
}
table.beverageTable {
  border: 1px solid black;
}
